<% if @user.errors.any? %>
  <div id='error_explaination'>
    <p>The following error(s) prevented you from updating your info</p>
    <ul>
      <%= @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user do |f| %><br>
<%= render partial: 'form', locals: {form: f}%>
<%= f.submit value="Update" %><br>
<% end %>