

<% if flash[:notice] %>
  <%= flash[:notice] %><br>
<% end %>

 

<div id="carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="d-none d-lg-block">
        <div class="slide-box b-padding">
          <%= image_tag("items_images/basketball.png", alt:"First slide") %>
          <%= image_tag("items_images/baseball_mitt.png", alt:"First slide") %>
        </div>
      </div>
      <div class="d-none d-md-block d-lg-none">
        <div class="slide-box">
          <%= image_tag("items_images/baseball_mitt.png", alt:"First slide") %>
        </div>
      </div>
      <div class="d-none d-sm-block d-md-none">
        <div class="slide-box">
          <%= image_tag("items_images/baseball_mitt.png", alt:"First slide") %>
        </div>
      </div>
      <div class="d-flex d-sm-none justify-content-center">
        <%= image_tag("items_images/baseball_mitt.png", alt:"First slide") %>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-none d-lg-block">
        <div class="slide-box">
          <%= image_tag("items_images/black_dress.png", alt:"First slide") %>
          <%= image_tag("items_images/red_dress.png", alt:"First slide") %>
          <%= image_tag("items_images/clothing.png", alt:"First slide") %>
          <%= image_tag("items_images/white_sweater.png", alt:"First slide") %>
        </div>
      </div>
      <div class="d-none d-md-block d-lg-none">
        <div class="slide-box">
        <%= image_tag("items_images/black_dress.png", alt:"First slide") %>
        <%= image_tag("items_images/red_dress.png", alt:"First slide") %>
        <%= image_tag("items_images/clothing.png", alt:"First slide") %>
        </div>
      </div>
      <div class="d-none d-sm-block d-md-none">
        <div class="slide-box">
          <%= image_tag("items_images/black_dress.png", alt:"First slide") %>
          <%= image_tag("items_images/red_dress.png", alt:"First slide") %>
        </div>
      </div>
      <div class="d-flex d-sm-none justify-content-center">
      <%= image_tag("items_images/black_dress.png", alt:"First slide") %>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<div class="container">
  <h3>Todays Deals</h3>
  <div class="row">
    <% @todays_deal.each do |item|%>
      <div class="col-md-4">
        <div class="card">
          <%= image_tag("items_images/basketball.png", class:"card-img-top", alt:"First slide") %>
          <div class="card-body"
            <%= link_to item.name, item_path(item) %> 
            <%= render partial: 'add_item', locals: {item: item}%>
          </div>
        </div>
      </div>
    <% end %><br><br><br>
  </div>
</div>


<div class="container">
  <h3>Trendings</h3>
  <div class="row">
    <% @trending_items.each do |item|%>
      <div class="col-md-4">
        <div class="card">
          <%= image_tag("items_images/basketball.png", class:"card-img-top", alt:"First slide") %>
          <div class="card-body"
            <%= link_to item.name, item_path(item) %> 
            <%= render partial: 'add_item', locals: {item: item}%>
          </div>
        </div>
      </div>
    <% end %><br><br><br>
  </div>
</div>

<div class="container">
  <h3>Recommended</h3>
  <div class="row">
    <% @recommended_items.each do |item|%>
      <div class="col-md-4">
        <div class="card">
          <%= image_tag("items_images/basketball.png", class:"card-img-top", alt:"First slide") %>
          <div class="card-body"
            <%= link_to item.name, item_path(item) %> 
            <%= render partial: 'add_item', locals: {item: item}%>
          </div>
        </div>
      </div>
    <% end %><br><br><br>
  </div>
</div>

<div class="container">
  <h3>Featured</h3>
  <div class="row">
    <% @feature_items.each do |item|%>
      <div class="col-md-4">
        <div class="card">
          <%= image_tag("items_images/basketball.png", class:"card-img-top", alt:"First slide") %>
          <div class="card-body"
            <%= link_to item.name, item_path(item) %> 
            <%= render partial: 'add_item', locals: {item: item}%>
          </div>
        </div>
      </div>
    <% end %><br><br><br>
  </div>
</div>



