<% if flash[:notice] %>
  <%= flash[:notice] %><br>
<% end %>

<p>Hi</p>
<%if current_user %>
<%= current_user.first_name%>
<%= current_user.id%>
<%= current_user.seller%>
<%end%>
<br>


<div>
<% @todays_deal.each do |item|%>
  <%= link_to item.name, item_path(item) %> 
  <%= render partial: 'add_item', locals: {item: item}%>
<% end %><br><br><br>

<% @trending_items.each do |item|%>
  <%= link_to item.name, item_path(item) %> 
  <%= render partial: 'add_item', locals: {item: item}%>
<% end %><br><br><br>

<% @recommended_items.each do |item|%>
  <%= link_to item.name, item_path(item) %> 
  <%= render partial: 'add_item', locals: {item: item}%>
<% end %><br><br><br>

<% @feature_items.each do |item|%>
  <%= link_to item.name, item_path(item) %> 
  <%= render partial: 'add_item', locals: {item: item}%>
<% end %><br><br><br>
</div>


