

<% if flash[:notice] %>
  <%= flash[:notice] %><br>
<% end %>


<%if current_user %>

<%= "Welcome #{current_user.first_name}"%>
<%end%>
<br>


<div class="row">
  <div class="col-sm-2 side-bar">
  <%= render partial: 'layouts/left_side_bar'%>
  </div>

  <div class="col-sm-10">
    <% @todays_deal.each do |item|%>
      <%= link_to item.name, item_path(item) %> 
      <%= render partial: 'add_item', locals: {item: item}%>
    <% end %><br><br><br>

    <% @trending_items.each do |item|%>
      <%= link_to item.name, item_path(item) %> 
      <%= render partial: 'add_item', locals: {item: item}%>
    <% end %><br><br><br>

    <% @recommended_items.each do |item|%>
      <%= link_to item.name, item_path(item) %> 
      <%= render partial: 'add_item', locals: {item: item}%>
    <% end %><br><br><br>

    <% @feature_items.each do |item|%>
      <%= link_to item.name, item_path(item) %> 
      <%= render partial: 'add_item', locals: {item: item}%>
    <% end %><br><br><br>
  </div>
</div>


