<% if flash[:notice] %>
  <%= flash[:notice] %><br>
<% end %>
<%= form_tag items_path, method: :get do%>
  <%= text_field_tag :search, params[:search] %>
  <%= collection_select :category, :id, Category.all, :id, :name, :include_blank => "All Categories"%>
  <%= submit_tag 'Search', :name => nil %>
<% end %>

Hi
<%if current_user %>
<%= current_user.first_name%>
<%= current_user.id%>
<%= current_user.seller%>
<%end%>
<br>


<div>
<% @todays_deal.each do |item|%>
  <%= link_to item.name, item_path(item) %> 
  <%= render partial: 'add_item', locals: {item: item}%>
<% end %><br><br><br>

<% @trending_items.each do |item|%>
  <%= link_to item.name, item_path(item) %> 
  <%= render partial: 'add_item', locals: {item: item}%>
<% end %><br><br><br>

<% @recommended_items.each do |item|%>
  <%= link_to item.name, item_path(item) %> 
  <%= render partial: 'add_item', locals: {item: item}%>
<% end %><br><br><br>

<% @feature_items.each do |item|%>
  <%= link_to item.name, item_path(item) %> 
  <%= render partial: 'add_item', locals: {item: item}%>
<% end %><br><br><br>
</div>


