<section class="container">
  <% if flash[:notice] %>
    <div class="text-center"><%= flash[:notice].html_safe %></div>
  <% end %>
  <div id="carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel" data-slide-to="0" class="active"></li>
      <li data-target="#carousel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item">
        <div class="d-none d-lg-block">
          <div class="slide-box b-padding">
            <%= link_to image_tag("items_images/basketball.png", alt:"First slide"), item_path(24) %>
            <%= link_to image_tag("items_images/football_helmet.png", alt:"First slide"), item_path(18) %>
            <%= link_to image_tag("items_images/baseball_mitt.png", alt:"First slide"), item_path(25) %>
          </div>
        </div>
        <div class="d-none d-md-block d-lg-none">
          <div class="slide-box">
            <%= link_to image_tag("items_images/basketball.png", alt:"First slide"), item_path(24) %>
            <%= link_to image_tag("items_images/baseball_mitt.png", alt:"First slide"), item_path(25) %>
          </div>
        </div>
        <div class="d-none d-sm-block d-md-none">
          <div class="slide-box">
            <%= link_to image_tag("items_images/baseball_mitt.png", alt:"First slide"), item_path(25) %>
          </div>
        </div>
        <div class="d-flex d-sm-none justify-content-center">
          <%= link_to image_tag("items_images/baseball_mitt.png", alt:"First slide"), item_path(25) %>
        </div>
      </div>
      <div class="carousel-item active">
        <div class="d-none d-lg-block">
          <div class="slide-box">
            <%= link_to image_tag("items_images/black_dress.png", alt:"First slide"), item_path(9) %>
            <%= link_to image_tag("items_images/red_dress.png", alt:"First slide"), item_path(21) %>
            <%= link_to image_tag("items_images/clothing.png", alt:"First slide"), item_path(22) %>
            <%= link_to image_tag("items_images/white_sweater.png", alt:"First slide"), item_path(23) %>
          </div>
        </div>
        <div class="d-none d-md-block d-lg-none">
          <div class="slide-box">
          <%= link_to image_tag("items_images/black_dress.png", alt:"First slide"), item_path(9) %>
          <%= link_to image_tag("items_images/red_dress.png", alt:"First slide"), item_path(21) %>
          <%= link_to image_tag("items_images/clothing.png", alt:"First slide"), item_path(22) %>
          </div>
        </div>
        <div class="d-none d-sm-block d-md-none">
          <div class="slide-box">
            <%= link_to image_tag("items_images/black_dress.png", alt:"First slide"), item_path(9) %>
            <%= link_to image_tag("items_images/red_dress.png", alt:"First slide"), item_path(21) %>
          </div>
        </div>
        <div class="d-flex d-sm-none justify-content-center">
        <%= link_to image_tag("items_images/black_dress.png", alt:"First slide"), item_path(9) %>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>

<section class="index-content margin-top" >
  <div class="container">
    <div id="todays-deals-items">
      <h3>Todays Deals</h3>
    </div>
    <div class="row">
      <% @todays_deal.each_with_index do |item, idx|%>
        <div class="col-md-4 d-flex align-items-stretch">
          <div class="card">
            <div class="card-body d-flex flex-column">
              <%= link_to image_tag(item.image, class:"card-img-top", alt:"First slide"), item_path(item) %>
              <%= link_to item.name, item_path(item) %>
              <div class="price"><%= number_to_currency(item.price)%></div>
              <div>List: <span class="strike-through-price"><%= number_to_currency(@listing_prices[idx])%></span></div>
              <%= truncate(item.description, length: 80) %>
              <%= render partial: 'add_item', locals: {item: item}%>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="container" >
    <div id="trendings-items">
      <h3>Trendings</h3>
    </div>
    <div class="row">
      <% @trending_items.each do |item|%>
        <div class="col-md-4 d-flex align-items-stretch">
          <div class="card">
            <div class="card-body d-flex flex-column" >
              <%= link_to image_tag(item.image, class:"card-img-top", alt:"First slide"), item_path(item) %>
              <%= link_to item.name, item_path(item) %>
              <div class="price"><%= number_to_currency(item.price)%></div>
              <%= truncate(item.description, length: 80) %>
              <%= render partial: 'add_item', locals: {item: item}%>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="container" >
    <div id="recommended-items">
      <h3>Recommended</h3>
    </div>
    <div class="row">
      <% @recommended_items.each do |item|%>
        <div class="col-md-4 d-flex align-items-stretch">
          <div class="card">
            <div class="card-body d-flex flex-column">
              <%= link_to image_tag(item.image, class:"card-img-top", alt:"First slide"), item_path(item) %>
              <%= link_to item.name, item_path(item) %>
              <div class="price"><%= number_to_currency(item.price)%></div>
              <%= truncate(item.description, length: 80) %>
              <%= render partial: 'add_item', locals: {item: item}%>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="container" >
    <div id="featured-items">
      <h3>Featured</h3>
    </div>
    <div class="row">
      <% @featured_items.each do |item|%>
        <div class="col-md-4 d-flex align-items-stretch">
          <div class="card">
            <div class="card-body d-flex flex-column">
              <%= link_to image_tag(item.image, class:"card-img-top", alt:"First slide"), item_path(item) %>
              <%= link_to item.name, item_path(item) %>
              <div class="price"><%= number_to_currency(item.price)%></div>
              <%= truncate(item.description, length: 80) %>
              <%= render partial: 'add_item', locals: {item: item}%>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>



