<% if @user.errors.any? %>
  <div id='error_explaination'>
    <p>The following error(s) prevented you from signing up</p>
    <ul>
      <%= @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= form_for @user do |f| %><br>
<%= render partial: 'form', locals: {form: f}%>
<%= f.label :seller %><br>
<%= f.check_box :seller%><br>
<%= f.submit value="Sign Up" %><br>
<% end %>

