<div class="container">
  <h3 class="write-review-header text-center">User Profile</h3>
  <div class="container">
    <div class="row border" >
      <div class="user-profile-padding-img">
        <i class="fas fa-user fa-5x user-profile-img"></i>
      </div> 
      <div class="user-profile-padding-txt">
        <div>Name: <%= user_full_name(@user) %></div>
        <div>Contact: <%= @user.email %></div>
      </div>  
    </div> 
  </div>
  <% if !@items_for_sale.empty? %>
    <h4 class="user-profile-padding-header"><%= @user.first_name %>'s <%= 'item'.pluralize(@items_for_sale.count)%></h4>
    <div class="row margin-top">
      <% @items_for_sale.each do |item|%>
        <div class="col-md-4 d-flex align-items-stretch">
          <div class="card card-margin">
            <div class="card-body d-flex flex-column">
              <%= link_to item_image(item.id), item_path(item) %>
              <%= link_to item.name, item_path(item) %>
              <div> <%= item_overall_rating(item).html_safe %> </div>
              <div class="price"><%= number_to_currency(item.price)%></div>
              <%= truncate(item.description, length: 80) %>
              <%= render partial: 'users/add_item', locals: {item: item}%>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= render partial: 'items/latest_products', locals: {latest_products: Item.last(3).reverse}%>
</div>