<% if flash[:notice] %>
  <%= flash[:notice] %><br>
<% end %>

<% if !current_cart.empty? %>
  <% current_cart.each do |item| %>
    <%= item['price']%>
    <%= item['name']%>
    <%= item['description']%> 
    <%= link_to 'Delete item', :controller => 'carts', :action => 'delete_item', :id => item['id']%>
    <%= select_tag "quantity", "<option>1</option><option>2</option><option>3</option><option>4</option>".html_safe %>
    <br>
  <%end%>
<% else %>
  Your cart is empty
<% end %>

