<% if flash[:notice] %>
  <%= flash[:notice] %><br>
<% end %>

<div>
<%= form_tag cart_checkout_path, method: :post do %>
  <% if !@cart.empty? %>
    <% @cart.each do |item| %>
      <div>
        <%= number_to_currency(item['price'])%>
        <%= item['name']%>
        <%= item['description']%> 
        <%= link_to 'Delete item', :controller => 'carts', :action => 'delete_item', :id => item['id']%>
        <%= select_tag "quantity[]", 
          "<option value='1'>1</option>
          <option value='2'>2</option>
          <option value='3'>3</option>
          <option value='4'>4</option>
          <option value='5'>5</option>
          <option value='6'>6</option>
          <option value='7'>7</option>
          <option value='8'>8</option>
          <option value='9'>9</option>
          <option value='10'>10</option>".html_safe%>
        <br>
      </div>
    <%end%>
    <%= submit_tag "Checkout" %>
  <% else %>
    Your cart is empty
  <% end %>
  <% end %>
</div>


