<div class="latest-products">
  <h3>Latest Products</h3>
  <div class="row">
    <% latest_products.each do |item|%>
      <div class="col-md-4 d-flex align-items-stretch">
        <div class="card">
          <div class="card-body d-flex flex-column">
            <%= link_to item_image(item.id), item_path(item) %>
            <%= link_to item.name, item_path(item) %>
            <div> <%= item_overall_rating(item).html_safe %> </div>
            <%= truncate(item.description, length: 80) %><br>
            <%= number_to_currency(item.price)%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
