<div class="container">
  <% if @items_info.empty? %>
    You have no buyer at the moment
  <% else %>
    
    <% @items_info.each do |item_info|%>
      
        <%=link_to small_image(item_info[0].id), item_path(item_info[0]), class: "mr-3 mt-3" %>
        
          <%= link_to item_info[0].name, item_path(item_info[0]) %><br>
          Buyer Name: <%= buyer_name(item_info[1]) %>
          Quantity: <%= item_info[2] %>
          <% if item_is_shipped(item_info[3], item_info[0]) %>
            Shipped<br>
          <% else%>
            <%= link_to 'Mark as shipped', ship_items_path(cart_id: item_info[3], item_id: item_info[0].id) %><br>
          <% end%>
        
      
    <% end %>
   
  <% end %>
  <%= render partial: 'latest_products', locals: {latest_products: Item.last(3).reverse}%>
</div>
