<div class="container">
  <% if @items.empty? && @view_my_items %>
    You have no items for sale
  <% elsif @items.empty? %>
    <h5 class="search-header text-center">Couldn't to find the item you're looking for</h5>
  <% else %>
    <% if @view_my_items %>
      <h3 class="orders-header text-center">My Products</h3>
    <% else %>
      <h5 class="search-header text-center"><%= pluralize(@items.count, 'result') %> for '<%= @search_term %>'</h5>
    <% end %>
    <div class="row margin-top">
      <% @items.each do |item|%>
        <div class="col-md-4 d-flex align-items-stretch">
          <div class="card card-margin">
            <div class="card-body d-flex flex-column">
              <%= link_to item_image(item.id), item_path(item) %>
              <%= link_to item.name, item_path(item) %>
              <div> <%= item_overall_rating(item).html_safe %> </div>
              <div class="price"><%= number_to_currency(item.price)%></div>
              <%= truncate(item.description, length: 80) %>
              <%= render partial: 'users/add_item', locals: {item: item}%>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <%end%>
  <%= render partial: 'latest_products', locals: {latest_products: Item.last(3).reverse}%>
</div>

