<% if flash[:notice] %>
  <%= flash[:notice] %><br>
<% end %>

  <div>
    <% if my_carts_are_empty(@carts) %>
      You have not make any orders
    <% else %>
      <% @carts.each do |cart|%>
        <% if cart.checkout %>
          <% cart.items.each do |item| %>
            <%= link_to item.name, item_path(item) %>
            Price: <%= number_to_currency(item.price) %>
            Description: <%= item.description %>
            Quantity: <%= item_quantity(item, cart) %>
            Status: <%= item_status(item, cart)%>
            <%= form_tag items_add_to_cart_path(id: item.id, :redirect_to => my_orders_path)  do  %>
              <%= submit_tag value="Buy again"%><br>
            <%end%>
          <%end%> 
        <% end %> 
      <% end %>
    <%end%>
  </div>
