<div class="container">
  <% if flash[:notice] %>
    <span class="text-center"><%= flash[:notice].html_safe %></span>
  <% end %>
  <% if my_carts_are_empty(@carts) %>
    You have not make any orders
  <% else %>
    <div class="container">
    <% @carts.each do |cart|%>
      <% if cart.checkout %>
        <% cart.items.each do |item| %>
          <div class="row border " style="margin-top: 20px;">
            <div class="col-sm-12 col-md-1 col-lg-1 top-bottom-padding">
              <%=link_to small_image(item.id), item_path(item)%>
            </div> 
            <div class="col-sm-12 col-md-11 col-lg-11 li-items-padding">
              <div><%= link_to item.name, item_path(item) %></div>
              <div>Price: <%= number_to_currency(item.price) %></div>
              <div> <%= item_overall_rating(item).html_safe %> </div>
              <div>Description: <%= item.description %></div>
              <div>Quantity: <%= item_quantity(item, cart) %></div>
              <div>Status: <%= item_status(item, cart)%></div>
              <%= button_to items_add_to_cart_path(id: item.id), class:"btn btn-sm btn-primary shorter-btn add-to-cart-btn", id: "item_#{item.id}" do%>
                <% add_to_cart_w_check_mark(item.id).html_safe %>
              <% end %>
              <%= button_to "Write a review", new_item_review_path(@item), method: "get", class:"btn btn-sm shorter-btn btn-primary" %> 
              </div>  
          </div> 
        <%end%> 
      <% end %> 
    <% end %>
    </div> 
  <%end%>
  <%= render partial: 'latest_products', locals: {latest_products: Item.last(3).reverse}%>
</div>
