<div class="container">
  <% if flash[:notice] %>
    <span class="text-center"><%= flash[:notice].html_safe %></span>
  <% end %>
  <% if my_carts_are_empty(@carts) %>
    You have not make any orders
  <% else %>
    <div class="container">
    <% @carts.each do |cart|%>
      <% if cart.checkout %>
        <% cart.items.each do |item| %>
          <div class="row border " style="margin-top: 20px;">
            <div class="col-sm-12 col-md-1 col-lg-1 top-bottom-padding">
              <%=link_to small_image(item.id), item_path(item)%>
            </div> 
            <div class="col-sm-12 col-md-11 col-lg-11 li-items-padding top-bottom-padding">
              <div><%= link_to item.name, item_path(item) %></div>
              <div>Price: <%= number_to_currency(item.price) %></div>
              <div>Description: <%= item.description %></div>
              <div>Quantity: <%= item_quantity(item, cart) %></div>
              <div>Status: <%= item_status(item, cart)%></div>
              <%= button_to "Buy again", items_add_to_cart_path(id: item.id, :redirect_to => my_orders_path), method: "post", class:"btn btn-sm shorter-btn btn-primary"%>
            </div>  
          </div> 
        <%end%> 
      <% end %> 
    <% end %>
    </div> 
  <%end%>
  <%= render partial: 'latest_products', locals: {latest_products: Item.last(3).reverse}%>
</div>
