<% if @item.errors.any? %>
  <div id='error_explaination'>
    <p>The following error(s) prevented you from creating your item</p>
    <ul>
      <%= @item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @item do |f| %><br>
  <%= render partial: 'item_form', locals: {form: f}%>
  <%= f.submit value="Create Item" %><br>
<% end %>