<div>
  Name: <%= @item.name %><br>
  Price: <%= number_to_currency(@item.price) %><br>
  Description: <%= @item.description %><br>
  Availability: <%= @item.in_stock ? "In Stock" : "Out of stock" %><br>
  Sold by: <%= @item.user.first_name %> <%= @item.user.last_name %><br>
  <% if !current_user || not_seller_item(@item)%>
  <%= link_to 'Add to cart', :controller => 'items', :action => 'add_to_cart', :id => @item.id %><br>
  <% end %>

  <% if current_user %>
    <% if @item.user.id == current_user.id %>
    <%= link_to 'Delete Item', item_path(@item), method: :delete, data: {confirm: "Are you sure?"} %>
    <%= link_to 'Edit Item', edit_item_path(@item) %>
    <% end %>
  <% end %>
</div>