<div>
  <div style="width:400px; height:auto">
    <%= item_image(@item.id) %>
  </div>
  Name: <%= @item.name %><br>
  Price: <%= number_to_currency(@item.price) %><br>
  Description: <%= @item.description %><br>
  Availability: <%= item_availability(@item) %><br>
  Sold by: <%= @item.user.first_name %> <%= @item.user.last_name %><br>
  Condition: <%= item_condition(@item)%> <br>
  <%= render partial: 'users/add_item', locals: {item: @item}%>
  <% if current_user %>
    <% if @item.user.id == current_user.id %>
      <%= link_to 'Delete Item', item_path(@item), method: :delete, data: {confirm: "Are you sure?"} %>
    <% end %>
  <% end %>
</div>