<div class="container">
  <div class="row" id="show-image-info">
    <div class="col-md-5 mt-auto">
      <a data-target="#modal_img" data-toggle="modal" href="#">
				<div class="ba-0 tp-s">
          <%= item_image(@item.id) %>
        </div>	
      </a>
      <div aria-hidden="true" class="modal fade " id="modal_img" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body mb-0 p-0">
              <%= item_image(@item.id) %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7 ">
      <h5><%= @item.name %></h5>
      <hr>
      <%= item_condition(@item)%>
      <p>Price: <strong class="price" ><%= number_to_currency(@item.price) %></strong></p>
      <p class="stars-color"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>&nbsp&nbsp<a href="#reviews">Customer reviews</a></p>
      <p><%= @item.description %></p>
      Availability: <%= item_availability(@item) %>
      <p>Sold by: <%= @item.user.first_name %> <%= @item.user.last_name %></p>
      <%= render partial: 'users/short_add_item_btn', locals: {item: @item}%>
      <% if current_user && @item.user_id == current_user.id %>
        <%= button_to "Delete Item", item_path(@item), method: "delete", data: {confirm: "Are you sure?"}, class:"btn btn-sm btn-primary shorter-btn"%>
      <% end %>
    </div>
  </div>
  <% if !@reviews.blank? %>
    <% @reviews.each do |review|%>
      <%= review.user.first_name %> <%= review.user.last_name %><br>
      <%= review.rating %><br>
      <%= review.created_at.strftime("%B %d, %Y") %><br>
      <%= review.comment %><br>
    <% end %>
    <% if current_user && current_user_bought_the_item(@item) %>
      <%= link_to "Write a review", new_item_review_path(@item) %> 
    <% end %>
  <% end %>
  <%= render partial: 'latest_products', locals: {latest_products: Item.last(3).reverse}%>
</div>