<div class="container">
  <% if flash[:notice] %>
    <div class="text-center"><%= flash[:notice].html_safe %></div>
  <% end %>
  <div class="row" id="show-image-info" data-item_id="<%= @item.id %>">
    <div class="col-md-5 mt-auto">
      <a data-target="#modal_img" data-toggle="modal" href="#">
				<div class="ba-0 tp-s">
          <%= item_image(@item.id) %>
        </div>	
      </a>
      <div aria-hidden="true" class="modal fade " id="modal_img" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-md modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body mb-0 p-0">
              <%= item_image(@item.id) %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7 item-info-margin">
      <h5><%= @item.name %></h5>
      <hr>
      <%= item_condition(@item)%>
      <p>Price: <strong class="price" ><%= number_to_currency(@item.price) %></strong></p>
      <p class="item-overall-rating"><%= item_overall_rating(@item).html_safe %><%= reviews_link(@item, @reviews).html_safe %></p>
      <p><%= @item.description %></p>
      Availability: <%= item_availability(@item) %>
      <p>Sold by: <%= link_to user_full_name(@item.user), user_path(@item.user) %></p>
      <%= render partial: 'users/short_add_item_btn', locals: {item: @item}%>
      <% if current_user && @item.user_id === current_user.id %>
        <div class="flex-button">
          <%= button_to "Delete Item", item_path(@item), method: "delete", data: {confirm: "Delete this item?"}, class:"btn btn-sm btn-primary shorter-btn"%>
        </div>
        <% end %>
    </div>
  </div>
  <hr style="margin-top: 25px;">
  <div class="row">
    <div class="col-lg-8" >
      <% if !@reviews.blank? %>
      <h3 id="reviews">Reviews</h3>
        <select class="sort-reviews" id="sort-reviews" data-item_id="<%=@item.id%>">
          <option value="oldest">Oldest</option>
          <option value="most_recent">Most Recent</option>
          <option value="highest_rating">Highest Rating</option>
          <option value="lowest_rating">Lowest Rating</option>
        </select>
        <div id="list-reviews">
        </div>
      <% end %>
    </div>
  </div>
  <% if current_user && current_user_bought_the_item(@item.id) && @item.reviews.count > 0 && !@hide_dynamic_review_form%>
    <div style="margin-top: 20px;">
    <%= form_for [@item, @new_review], html: {id: "dynamic_submit_form"} do |f| %>
      <div class='rating-stars' data-rating="">
        <h5>Write a review</h5>
        <h6>Overall rating</h6>
        <ul id='stars'>
          <li class='star' title='Poor' data-value='1'>
            <i class='fa fa-star fa-fw'></i>
          </li>
          <li class='star' title='Fair' data-value='2'>
            <i class='fa fa-star fa-fw'></i>
          </li>
          <li class='star' title='Good' data-value='3'>
            <i class='fa fa-star fa-fw'></i>
          </li>
          <li class='star' title='Excellent' data-value='4'>
            <i class='fa fa-star fa-fw'></i>
          </li>
          <li class='star' title='Amazing' data-value='5'>
            <i class='fa fa-star fa-fw'></i>
          </li>
        </ul>
      </div>
      <%= f.hidden_field :rating, :value => ""%>
      <h6><%= f.label :review, style:"margin-bottom: -20px" %></h6>
      <div class="flex-review-txt-area">
        <%= f.text_area :comment, rows:"4", style:"width: 100%;", class:"review_text_area", placeholder:"What do you like or dislike about this product?" %><br>
      </div>
      <div class="flex-button">
        <%= f.submit 'Submit Review', :class => 'btn btn-sm btn-primary shorter-btn submit-review-btn'%><br>
      </div>
      <% end %>
    </div>
    <% end %>
  <%= render partial: 'latest_products', locals: {latest_products: Item.last(3).reverse}%>
</div>