<div><i class="fas fa-user fa-lg review-list-margin"></i> <a href="/users/{{userId}}">{{this.userFullName}}</a> </div>
<div class="users-rating"><a href="/reviews/{{id}}">{{#times rating}}<i class="fas fa-star fa-fw stars-read-only" style="color:orange"></i>{{/times}}{{#times hollowStars}}<i class="far fa-star fa-fw stars-read-only" style="color:orange"></i>{{/times}}</a></div>
<div> {{createdAt}}</div>
<div> {{comment}}</div>
<div class="review-thxs-msg"> Thank you for taking the time to write a review about this product!</div>