<div class="container">
  <h3 class="write-review-header">Write a review</h3>
  <div class="container">
    <div class="row border" >
      <div class="col-sm-12 col-md-1 col-lg-1 top-bottom-padding">
        <%=link_to small_image(@item.id), item_path(@item)%>
      </div> 
      <div class="col-sm-12 col-md-11 col-lg-11 li-items-padding">
        <div><%= link_to @item.name, item_path(@item) %></div>
        <div>Price: <%= number_to_currency(@item.price) %></div>
        <div> <%= item_overall_rating(@item).html_safe %> </div>
        <div>Description: <%= @item.description %></div>
      </div>  
    </div> 
  </div>
<%= render partial: 'users/error_msg', locals: {user_or_item: @review}%>
<%= form_for ([@item, @review]) do |f| %>
  <div class='rating-stars' data-rating="">
    <h5 class="write-review-rating">Overall Rating</h5>
    <ul id='stars'>
      <li class='star' title='Poor' data-value='1'>
        <i class='fa fa-star fa-fw'></i>
      </li>
      <li class='star' title='Fair' data-value='2'>
        <i class='fa fa-star fa-fw'></i>
      </li>
      <li class='star' title='Good' data-value='3'>
        <i class='fa fa-star fa-fw'></i>
      </li>
      <li class='star' title='Excellent' data-value='4'>
        <i class='fa fa-star fa-fw'></i>
      </li>
      <li class='star' title='Amazing' data-value='5'>
        <i class='fa fa-star fa-fw'></i>
      </li>
    </ul>
  </div>
  <%= f.hidden_field :rating, :value => ""%>
  <h5><label class="write-review-comment">Write your review</label></h5>
  <%= f.text_area :comment, rows:"4", style:"width: 100%", class:"review_text_area", placeholder:"What do you like or dislike about this product?"%><br>
  <%= f.submit 'Submit Review', :class => 'btn btn-sm btn-primary shorter-btn submit-review-btn'%><br>
<% end %>
<%= render partial: 'items/latest_products', locals: {latest_products: Item.last(3).reverse}%>
</div>