<div class="container">
  <div class="reviews_show_page">
    <h3>Customer Review</h3>
    <%= link_to user_full_name(@review.user), user_path(@review.user) %><br>
    <%= display_stars_rating(@review.rating).html_safe%><br>
    <%= @review.created_at.strftime("%B %d, %Y") %><br>
    <%= @review.comment %><br>
  </div>
  <%= render partial: 'items/latest_products', locals: {latest_products: Item.last(3).reverse}%>
</div>