<ul>
  <li><%= link_to "Antiques", items_path(search: "", "category_id" => 1) %></li>
  <li><%= link_to "Appliances", items_path(search: "", "category_id" => 2) %></li>
  <li><%= link_to "Art", items_path(search: "", "category_id" => 3) %></li>
  <li><%= link_to "Baby", items_path(search: "", "category_id" => 4) %></li>
  <li><%= link_to "Books", items_path(search: "", "category_id" => 5) %></li>
  <li><%= link_to "Camras", items_path(search: "", "category_id" => 6) %></li>
  <li><%= link_to "Cars", items_path(search: "", "category_id" => 7) %></li>
  <li><%= link_to "Cell Phones", items_path(search: "", "category_id" => 8) %></li>
  <li><%= link_to "Clothing & Shoes", items_path(search: "", "category_id" => 9) %></li>
  <li><%= link_to "Computer", items_path(search: "", "category_id" => 10) %></li>
  <li><%= link_to "Health", items_path(search: "", "category_id" => 11) %></li>
  <li><%= link_to "Home & Garden", items_path(search: "", "category_id" => 12) %></li>
  <li><%= link_to "Jewelry", items_path(search: "", "category_id" => 13) %></li>
  <li><%= link_to "Movies", items_path(search: "", "category_id" => 14) %></li>
  <li><%= link_to "Musical Instruments", items_path(search: "", "category_id" => 15) %></li>
  <li><%= link_to "Office", items_path(search: "", "category_id" => 16) %></li>
  <li><%= link_to "Pet Supplies", items_path(search: "", "category_id" => 17) %></li>
  <li><%= link_to "Sporting Goods", items_path(search: "", "category_id" => 18) %></li>
  <li><%= link_to "Tools", items_path(search: "", "category_id" => 19) %></li>
  <li><%= link_to "Video Games", items_path(search: "", "category_id" => 20) %></li>
</ul>