<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SwiftKart</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Font Awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  
    <!-- CSS -->
    <%= stylesheet_link_tag "application", media: 'all' %>

    <!-- cdnjs normalizer and modernizr -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js">

  </head>

  <body>
    <!-- First navbar - Brand and search form -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <div class="container">
        <a class="navbar-brand" href="/"><h3><span>Swift-</span><span><i class="fas fa-shopping-cart"></i></h3></span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> 

        <div class="search-form">
          <%= form_tag items_path, method: :get, :class => "form-inline my-2 my-lg-0 mx-2 my-auto d-inline w-100" do%>
            <%= text_field_tag :search, params[:search], class: "form-control ml-lg-1", placeholder:"Search" %>
            <%= collection_select :category, :id, Category.all, :id, :name, {:include_blank => "All Categories"}, {class: "custom-select"}%>
            <%= submit_tag 'Search', :name => nil, :class => "btn btn-outline-success" %>
          <% end %>
        </div>
      </div>
    </nav>
    <!-- Second navbar - links -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
      <div class="collapse navbar-collapse" id="navbarSupportedContent" data-turbolinks="false">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/#todays-deals-items" >Todays Deal <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#trendings-items" >Trendings <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#recommended-items"> Recommended <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#featured-items" >Featured <span class="sr-only">(current)</span></a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto" data-turbolinks="false">
          <% if current_user %>
            <% if current_user.seller %>
              <li class="nav-item">
                <a class="nav-link" href="/users/<%=current_user.id%>/items/new">Add New Item <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/buyer_orders" >Buyers Orders <span class="sr-only">(current)</span></a>
              </li>
            <% end %>
            <li class="nav-item">
              <a class="nav-link" href="/my_orders" >My Orders <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown" data-turbolinks="false">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                Account
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/my_items" >My items</a>
                <a class="dropdown-item" href="/users/<%=current_user.id%>/edit" >Edit info</a>
                <a class="dropdown-item" href="/logout" >Log out</a>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <a class="nav-link" href="/signin">Sign In <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup" >Sign Up <span class="sr-only">(current)</span></a>
            </li>
          <% end %>
          <li class="nav-item">
            <a class="nav-link" href="/cart" ><i class="fas fa-shopping-cart"></i> <span class="badge badge-light"><%=count_items_in_cart%></span><span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
      </div>
    </nav>
      
    <section id="main-content">
      <%= yield %>
    </section>
  
    <footer>
      <div class="container-fluid bg-dark text-light ">
        <div class="container">
        <div class="row footer-padding">
          <div class="col-md-3 right-pad-footer">
            <div>
              <h6>Meta</h6>
            </div>
            <div>
              <a href="/signup">Sign Up</a><br>
              <a href="/signin">Sign In</a><br>
            </div>
          </div>
          <div class="col-md-3">
            <div>
              <h6>Get to Know Us</h6>
            </div>
            <div>
              <a href="#">About SwiftKart</a><br>
              <a href="#">Blogs</a><br>
              <a href="#">Comments</a><br>
            </div>
          </div>
          <div class="col-md-3">
            <div>
              <h6>Help & Contact</h6>
            </div>
            <div>
              <a href="#">Locations</a><br>
              <a href="#">Contact us</a><br>
              <a href="#">Returns & Replacements</a><br>
            </div>
          </div>
          <div class="col-md-3">
            <div>
              <h6>Stay Connected</h6>
            </div>
            <div>
              <a href="#"><i class="fab fa-facebook-square"></i> Facebook</a><br>
              <a href="#"><i class="fab fa-twitter-square"></i> Twitter</a><br>
              <a href="#"><i class="fab fa-instagram"></i> Instagram</a><br>
            </div>
          </div>
        </div>
        </div>
      </div>
    </footer>
     
    <!-- jQuery, Popper.js, Bootstrap.js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
