<!DOCTYPE html>
<html>
  <head>
    <title>SwiftKart</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Home', root_path%>
    <% if current_user %>
      <%= link_to 'Log Out', logout_path %>
      <% if current_user.seller %>
      <%= link_to 'Add New Item', new_user_item_path(current_user) %>
      <%= link_to 'My Items', my_items_path %>
      <% end %>
    <% else %>
    <%=link_to 'Sign In', signin_path %>
    <%=link_to 'Sign Up', signup_path %>
    <%end%>
    <%=%><br>
    <%= yield %>
  </body>
</html>
